# Basic Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/**/generated/
android/app/src/main/res/drawable-*/
android/local.properties
.gradle/
*.apk
*.aar
*.jks
*.keystore

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
**/DerivedData/
**/Podfile.lock
**/Pods/
**/xcuserdata/

# IDEs
.idea/
.vscode/
*.iml
*.iws

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
